.videopage{
    background-color: #181818;
}
.video{
    max-width: 100%;
    height:19rem;
}
.video-player{
    height:100%;
    width:100%;
    border:none;
    object-fit: contain;
}
@media only screen and (min-width: 560px) {
    .video {
      height: 27rem;
    }
  }
  @media only screen and (min-width: 780px) {
    .video {
      height: 30rem;
    }
}

